*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}
body{
    background-color: azure;
    font: "Poppins", sans-serif;
    min-height: 100vh;
}
.btn {
    display: flex;
    flex-direction: column;
    background: transparent;
    border-color: transparent;
    text-transform: capitalize;
    font-size: 1.25rem;
    letter-spacing: 0.1 rem;
    /* margin: 0 0.5rem; */
    transition: all 0.3s linear;
    cursor: pointer;
    padding: 0.2rem 0;
    line-height: 0.8;
    outline-color: hsl(186, 100%, 94%);
    border: none;
    min-height: 5vh;
}
.btn:hover {
    color:  #2caeba;
    box-shadow: 0 2px  #2caeba;
}
.user{
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
    width: 90vw;
    margin: 0rem auto;
    max-width: 1170px;
    box-sizing: border-box;
}
.showData{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items:center;
    box-sizing: border-box;
    width: 70vw;
    margin:0 auto;
    max-width: 1170px;
    gap: 10rem;
}
.type{
    display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
 box-sizing: border-box;
  gap: 4rem;
  padding: 2rem 0rem 2rem 1rem;
}
.cases-btn{
    display: flex;
    flex-direction: column;
}
.menubar{
    padding: 1.5rem 0rem 1rem 0rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: ;
}
.tag{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}
.heading{
    padding: 0rem 0rem 0rem 4rem;
    box-sizing: border-box;

}
/* .parameters{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 30px;
} */

